.container-projects {
    height: 100%;
    padding: 100px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // background-color: #333333;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23333333' width='11' height='11'/%3E%3Crect fill='%23343434' x='10' width='11' height='11'/%3E%3Crect fill='%23343535' y='10' width='11' height='11'/%3E%3Crect fill='%23353736' x='20' width='11' height='11'/%3E%3Crect fill='%23353837' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23363938' y='20' width='11' height='11'/%3E%3Crect fill='%23363a39' x='30' width='11' height='11'/%3E%3Crect fill='%23373c3a' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23383d3b' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23383e3c' y='30' width='11' height='11'/%3E%3Crect fill='%23393f3d' x='40' width='11' height='11'/%3E%3Crect fill='%2339413e' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%233a423f' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%233a4340' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%233b4441' y='40' width='11' height='11'/%3E%3Crect fill='%233b4642' x='50' width='11' height='11'/%3E%3Crect fill='%233c4743' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%233c4844' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%233d4945' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%233e4b46' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%233e4c47' y='50' width='11' height='11'/%3E%3Crect fill='%233f4d48' x='60' width='11' height='11'/%3E%3Crect fill='%233f4e49' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2340504a' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2340514b' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2341524c' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2341544d' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2342554e' x='70' width='11' height='11'/%3E%3Crect fill='%2342564f' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23435850' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23435952' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23445a53' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23445b54' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23455d55' x='80' width='11' height='11'/%3E%3Crect fill='%23455e56' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23465f57' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23466158' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23476259' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2347635a' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2348655b' x='90' width='11' height='11'/%3E%3Crect fill='%2348665c' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2349675d' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2349695e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%234a6a5f' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%234a6b60' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%234b6d62' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%234b6e63' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%234c7064' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%234c7165' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%234c7266' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%234d7467' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%234d7568' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%234e7669' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%234e786a' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%234f796b' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%234f7a6d' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23507c6e' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23507d6f' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23517f70' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23518071' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;
    // background: linear-gradient(to right top, #c8fcea, #00c896);
    background-color: #738a90;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(216,683,313)'%3E%3Cstop offset='0' stop-color='%23738a90'/%3E%3Cstop offset='1' stop-color='%2300c896'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='725' height='604.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.card {
    width: 45%;
    margin-top: 10px;
    border: solid 1px transparent;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(20px);
    overflow: hidden;
    @extend .text-primary;
}

.proj-link {
    margin-top: 20px;
    justify-content: space-between;
    a {
        @extend .text-primary;
    }
}

.gradient-bg {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
}

// animations

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    transition-delay: .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: .4;
  }

.side-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(90%, -50%);
    width: 30%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .bg-secondary;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(255, 255, 255 , 0.4);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 1s cubic-bezier(1, 0, 0, 1);
    button {
        font-size: 20px;
    }
    &.opened {
        transform: translate(0%, -50%);
    }
    small {
        font-size: 14px;
    }
}

@media(max-width: 800px) {
    .container-projects {
        flex-direction: column;
    } 

    .side-bar {
        padding: 10px 18px;
        width: 100%;
        transform: translate(90%, -50%);
    }

    .card {
        width: 100%;
    }
    .image {
        width: 100%;
    } 

    .w {
        display: none;
    }
}