.container-projects {
  height: 100%;
  padding: 100px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #4b4d52;
  z-index: 1;
}

.card {
  width: 40%;
  //   border: solid 1px transparent;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  //   background: linear-gradient(
  //     to right bottom,
  //     rgba(255, 255, 255, 0.7),
  //     rgba(255, 255, 255, 0.3)
  //   );
  border: solid 1px #fff;
  overflow: hidden;
  @extend .text-light;
}

.proj-link {
  margin-top: 20px;
  justify-content: space-between;
  a {
    @extend .text-light;
  }
}

.gradient-bg {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

// animations

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  transition-delay: 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.4;
}

.side-bar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 9998;
  transform: translate(90%, -50%);
  width: 30%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .bg-primary;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 1s cubic-bezier(1, 0, 0, 1);
  button {
    font-size: 20px;
    background: none;
    color: #fff;
  }
  &.opened {
    transform: translate(0%, -50%);
  }
  small {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .container-projects {
    flex-direction: column;
  }

  .side-bar {
    padding: 10px 18px;
    width: 100%;
    transform: translate(90%, -50%);
  }

  .card {
    width: 100%;
  }
  .image {
    width: 100%;
  }

  .w {
    display: none;
  }
}
